* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEEAE7;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}

header {
	position:relative;
	width: 100%;
	padding: 50px 100px;
	justify-content: space-between;
	align-items: center;
}

.spin-logo {
	width: 50vmin;
	margin: 0 auto;
	padding: 35px 0px;
}

header .logo {
	color: #232327;
	font-size: 2.5em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}

.spin-logo img {
	color: #232327;
	animation: App-logo-spin infinite 20s linear;
}

section {
	padding: 20px 100px;
}

.content {
	display: flex;
	justify-content: space-between;
	color: #232327;
}

.content-intro {
	position: relative;
	background-color: #EEEAE7;
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-intro h2 {
	font-size: 3em;
	color: #232327;
	font-weight: 500;
	line-height: 1.5em;
}

.content-intro h2 span {
	font-size: 1.5em;
	font-weight: 700;
}

.content-intro h3 {
	font-size: 1.5em;
	color: #232327;
	font-weight: 500;
}

.content-intro .textBox .content p {
	font-size: 1.3em;
}

.content-skills h2 {
	color: #232327;
	font-size: 2em;
	font-weight: 700;
}
.contentBox {
	padding-right: 30px;
}

.content-skills ul {
	list-style: none;
	font-size: 1.5em;
	padding: 0;
}

.content-interest h2 {
	font-size: 2em;
	font-weight: 700;
	color: #232327;
}

.content-interest {
  font-family: Roboto Mono;
  color: #232327;
  margin: 0 auto;
}

.content-interest ul {
  list-style: none;
  font-size: 1.5em;
  padding: 0;
}

.content-form .heading h2 {
	color: #232327;
	font-size: 2em;
	font-weight: 700;
}

.content-form .heading .content p {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.formBox {
	min-width: 100%;
}

.formBox form {
	display: flex;
	flex-direction: column;
}

.formBox form input,
.formBox form textarea {
	margin-bottom: 20px;
	padding: 15px;
	font-size: 16px;
	border: none;
	outline: none;
	background: #232327;
	color: #EEEAE7;
	resize: none;
}

.formBox form textarea {
	min-height: 200px;
}

.formBox form input::placeholder,
.formBox form textarea::placeholder {
	color: #EEEAE7;
}

.formBox form input[type="submit"] {
	max-width: 100px;
	background: #232327;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
}

input[type=submit] {
  width: 100%;
  border: none;
  background-color: #232327;
  padding: 10px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive */
@media (max-width: 991px) {

	header {
		padding: 10px 100px;
	}
	header .logo {
		font-size: 2em;
	}
	.spin-logo {
		width: 20vmin;
		padding: 30px 0px;
	}

	section {
		padding: 20px 100px;
	}

	.content-skills h2 {
		font-size: 2em;
	}

	.content-skills ul {
		font-size: 1.5em;
	}

	.content-interest h2 {
		font-size: 2em;
	}

	.content-interest ul {
		font-size: 1.5em;
	}

	.content-form .heading h2 {
		font-size: 2em;
	}

	.content-form .heading .content p {
		font-size: 1.1em;
		margin-bottom: 10px;
	}
}

@media (max-width: 600px) {

	header {
		padding: 20px;
	}

	section {
		padding: 20px;
	}

	.spin-logo {
		width: 25vmin;
	}

	header .logo {
		font-size: 1.5em;
		font-weight: 500;
		letter-spacing: 1px;
	}

	.content-intro h2 {
		font-size: 1.5em;
	}

	.content-intro h3 {
		font-size: 1.2em;
	}
}
